body{
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 auto;
}
.cabecalho{
    padding: 30px 15px ;
    position: relative;
}
.cabecalho h1{
    display: inline-block;
    background: url(../images/logo.jpg) center center no-repeat;
    width: 80px;
    height: 80px;
    font-size: 0;
}
.cabecalho nav{
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 20px;
}
.cabecalho li{
    display: inline-block;
    padding: 15px;
}
.cabecalho li a{
    display: inline-block;
}
.painel{
    background: url(../images/painel.jpg) center center no-repeat;
    height: 630px;
}
.painel h2{
    color: white;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.secao-com-texto{
    padding: 153px;
    text-align: center;
    clear: both;
}
.secao-com-texto img{
    width: 170px;
    height: 170px;
    margin-bottom: 70px;
}
.secao-com-texto h2{
       font-size: 45px;
       font-weight: 600;
       margin-bottom: 37px;
}
.secao-com-texto p{
    width: 700px;
    margin: 0 auto;
}
.secao-com-texto.onde-estamos p{
        width: 280px;
        
}
.ladrilho div{
    float: left;
    
}
.ladrilho .grande{
    background: url(../images/4.jpg) center center no-repeat;
    height: 600px;
    width: 50%;
}
.ladrilho .pequeno{
    background: url(../images/3.jpg);
    width: 25%;
    height: 300px;
}
.ladrilho .pequeno.grao{
    background: url(../images/2.jpg) center center no-repeat;
}
.ladrilho .medio{
    background: url(../images/1.jpg) center center no-repeat;
    width: 50%;
    height: 300px;
}
.contato{
    background: url(../images/fundo-contato.jpg) center center no-repeat;
    height: 600px;
    position: relative;
}
.contato .filho address h2{
    font-size: 45px;
    margin-bottom: 30px;
}
.contato .filho address{
    font-size: 25px;
    position: relative;
    top: 190px;
    left: 50%;
}
.rodape{
    background: url(../images/fundo-rodape.jpg)center center no-repeat;
    padding: 35px 30px;
    background-size: cover;
}
.rodape ul{
    float: right;
    margin-top: 30px;
}
.rodape ul li{
    display: inline-block;
    padding: 15px;
}
.rodape ul li a{
    color: white;
    
}
.rodape .copyright{
    color: white;
    margin-top: 40px;
}
.rodape .redes-sociais .facebook, .rodape .redes-sociais .instagram{
    width: 20px;
    height: 20px;
    margin: 10px;
}
.rodape .redes-sociais{
    float: right;
    clear: both;
}